@font-face {
    font-family: 'Nafees';
    src: url('/fonts/nafees-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Ensures font loading doesn't block rendering */
    
  }


  .text-nafees {
    font-family: 'Nafees', 'Noto Nastaliq Urdu', 'Jameel Noori Nastaleeq', sans-serif;
    direction: rtl;
  }
